@model IEnumerable<AssetManagementSystemFidrox.Models.AssetIssueDetails>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">List Of Assets</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create">Issue New Asset</a>
    </div>
    <br /><br />
    <div>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Emp_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Emp_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Emp_Designation)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Emp_EmailId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Emp_wrk_loc)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Emp_Recived_item)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Emp_Acknowledge)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Emp_Replace_Item)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Asset_no)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Asset_Model_name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Asset_issued_dt)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Asset_Status)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Asset_return_dt)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Asset_New_Old)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Fdx_Asset_Remarks)
                </th>

            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Fdx_Emp_Id)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Emp_Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Emp_Designation)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Emp_EmailId)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Emp_wrk_loc)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Emp_Recived_item)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Emp_Acknowledge)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Emp_Replace_Item)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Asset_no)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Asset_Model_name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Asset_issued_dt)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Asset_Status)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Asset_return_dt)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Asset_New_Old)
            </td>
            <td>
                @Html.DisplayFor(m => item.Fdx_Asset_Remarks)
            </td>
            <partial name="_tableButtonPartial" model="item.Fdx_Emp_Id" />

            @*<td class="text-right">
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-primary" href="@Url.Action("Edit/"+item.Fdx_Emp_Id)">Edit</a>
                <form method="post" action="Delete">
                    <input onclick="if (!confirm('Are you sure you want to delete Issued Item---'+@item.Fdx_Emp_Id)) { return false}" type="submit" class="btn btn-danger rounded-0" asp-action="Delete" asp-route-id="@item.Fdx_Emp_Id" value="Delete" />
                </form>
            </div>
        </td>*@
        </tr>
            }
        </table>
    </div>

</div>

